

<h1>Update Article</h1>




<%= form_for @article, url: {action: "update"} do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>


<div>
  <%= f.submit "Post your changes", class: :"waves-effect waves-light btn" %>
</div>
  <% end %>
<br>

<p class="waves-effect waves-light btn delete"><%= link_to "Delete", @article, method: :delete, data: { confirm: "Are you sure you want to delete this forever?"} %></p>
